%h1
  = @heading

%h4 Categories
= haml :categories, :layout => false

#content
  %h4 Posts
  %ul
    - @articles.each do |article|
      = haml :summary, :layout => false, :locals => { :article => article }