body
  font-family: "ff-enzo-web-1","ff-enzo-web-2",sans-serif
  color: #FFF
  
  a
    color: #CCC
  a:visited
    color: #CCC
  a:hover
    text-decoration: none
  .clear
    clear: both
  .hide
    display: none
  
  header
    position: absolute
    top: 20px
    right: 30px
    display: inline
    text-align: right
    a
      text-decoration: none
    h1
      display: inline
      font-size: 2em
      font-style: italic
      font-weight: normal
      color: #570D00
      text-shadow: #fcf948 1px 0, #fcf948 2px 1px, #fcf948 3px 2px, #fcf948 4px 3px, #fcf948 5px 4px
    
    nav
      font-size: 3em
      font-style: italic
      text-shadow: #FFF 1px 0, #FFF 2px 1px, #FFF 3px 2px, #FFF 4px 3px, #FFF 5px 4px
      a
        float: left
        display: inline-block
        margin-left: 12px
      a.blog
        color: #ff0000
      a.twitter
        color: #33ccff
      a.facebook
        color: #3B5998
      a.github
        color: #C0C0C0
  
  section.content
    width: 600px
    margin: 76px 0 0 80px
    
    h1
      margin-top: 0
        
  footer
    p
      margin: 0
      line-height: 1.5em
      color: #999
      #creative_commons
        position: relative
        top: 3px
        margin-right: 5px
      a,
      a:visited
        color: #999
  
  #shade
    position: fixed
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.90)
        
// Stick footer    
html,
body
  height: 100%
  #wrap
    min-height: 100%
  #main
    overflow: hidden
    padding-bottom: 65px
  footer
    position: relative
    margin: -65px 0 0 80px
    height: 65px
    clear: both
    
// Homepage
body.home
  header h1
    color: #570D00
    text-shadow: #fcf948 1px 0, #fcf948 2px 1px, #fcf948 3px 2px, #fcf948 4px 3px, #fcf948 5px 4px
  #main
    padding-bottom: 20px
  footer
    margin: -20px 0 0 0
    height: 20px
    background: rgba(0, 0, 0, 0.65)
    p
      display: inline
      img
        margin-left: 2px
  #shade
    display: none